# One-hot-encoding

To this exercise you will implement the one-hot-encoding algorithm from scratch.
You can use pandas but not use scikit-learn to implement such algorithm

You can use the code bellow or use a code of your own from scratch

Hands on!

In [3]:
import pandas as pd

# Load the loans prediction dataset
df = pd.read_csv("data_loans.csv")

def one_hot_encoding(df, column_name):

    """
    Perform one-hot-encoding on the specified column of the input dataframe 
    :param df:  to be encoded
    :param column_name: Column name to be encoded
    :return: Dataframe with one-hot-encoded columns
    """
    
    values = df[column_name].unique()
    for value in values:
        df[str(value)] = df[column_name].apply(lambda x: 1 if x == value else 0)
    df.drop(column_name, axis=1)
    return df

# One-hot-encode the categorical column 'Loan_Status'
df = one_hot_encoding(df, 'LoanStatus')

In [4]:
df.head()

,LoanID,Gender,Married,Dependents,Education,SelfEmployed,ApplicantIncome,CoapplicantIncome,LoanAmount,LoanAmountTerm,CreditHistory,PropertyArea,LoanStatus,Y,N
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,1,0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0,1
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1,0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1,0